@font-face {
  font-family: "Barlow";
  src: url(../fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: "Barlow Condensed";
  src: url(../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf);
}
@font-face {
  font-family: "Bellefair";
  src: url(../fonts/Bellefair/Bellefair-Regular.ttf);
}
